.main-nav{
	margin-top: 0px;
	margin-bottom: 30px;
}

.btn-list{
	display: flex;
	justify-content: space-around;
	border: solid 1px rgb(58, 15, 34);
	padding: 20px 0px 20px 0px;
	background: linear-gradient(to bottom right,  rgba(128, 128, 128, 0.5)30%, rgba(209, 155, 155, 0.486)70%);
	margin-bottom: 30px;
}

.btn-button{
	width: 120px;
	padding: 5px;
	color: rgb(58, 15, 34);
	background-color:rgba(236, 230, 233, 0.685) ;
}

.btn-button--active{
	color: rgba(102, 9, 55, 0.685);
	background-color: rgb(212, 46, 121);
}

.color__palette {
	margin-bottom: 30px;
	border: 2px solid #000000;
	display: flex;
	flex-wrap: wrap;
	margin-top: -5px;
	margin-left: -5px;
	
}

.color{	
	flex-basis: calc((100% - 5 * 5px) / 4);
	margin-top: 5px;
	margin-left: 5px;
}
.color__el{
     box-shadow: 1px 1px grey;
      padding: 5px;
      background-color: #ffffff;
      border-radius: 5px;
}
.color--is-active{
	transform:perspective(400px) rotateX(5deg) skew(2deg);
}

.color__background{
	height: 120px;
}

.color__text{

}

p{
	margin: auto;
	margin-left: 25px;
}