.main-nav{
	margin-top: 0px;
	margin-bottom: 30px;
}

.btn-list{
	display: flex;
	justify-content: space-around;
	border: solid 1px rgb(58, 15, 34);
	padding: 20px 0px 20px 0px;
	background: linear-gradient(to bottom right,  rgba(128, 128, 128, 0.5)30%, rgba(209, 155, 155, 0.486)70%);
	margin-bottom: 30px;
}

.btn-button{
	width: 120px;
	padding: 5px;
	color: rgb(58, 15, 34);
	background-color:rgba(236, 230, 233, 0.685) ;
}

.btn-button--active{
	color: rgba(102, 9, 55, 0.685);
	background-color: rgb(212, 46, 121);
}

.color__background{
	width: 150px;
	height: 100px;
	border: 1px solid #000000;
}

.color__text{
	border: 1px solid #000000;
	width: 150px;
}

p{
	margin: auto;
	margin-left: 25px;
}

.color__palette{
	margin-bottom: 30px;
	display: flex;
	justify-content: space-around;
}