.form{
	padding: 20px;
	margin-bottom: 20px;
}

.form_mainLabel{
	margin-right: 25px;
	
}

.form_radio{
	margin-top: 20px;
	margin-bottom: 20px;
}

.form_textRadio{
	margin-right: 20px;
}

.input{
padding: 25px;
}

.input_labelChackbox{
	display: flex;
	align-items: center;
}

p{
	margin-right: 10px;
}

.js-color{
	background-color: #d8d8c6;
}