
ul{
	list-style: none;
}

img{
	display: block;
}

a {
      cursor: pointer;
	text-decoration: none;
}

.main{
	background: linear-gradient(rgba(0, 0, 255, 0.911)15%,
		rgba(255, 255, 0, 0.733)60%);
	background-repeat:no-repeat ;
}

.main-nav{
	display: flex;
	justify-content: space-around;
	margin: auto;
	margin-top: 200px;
	margin-bottom: 200px;
	

}
/*STYLE NAVIGATION MENU */

.navigation-list {
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	justify-content: space-around;
	background: radial-gradient(rgba(43, 255, 0, 0.911)15%,
	rgba(12, 12, 12, 0.733)80%);
	background-repeat: no-repeat;
}

.navigation-items--change {
	
}

.navigation-link {
	font-size: 30px;
	font-style: bold;
	margin-right: 10px;
	color: rgb(45, 58, 58);
}

.navigation-link:hover {
	color: rgb(128, 228, 228);
}

.navigation-link--current {
	color: rgb(255, 1, 1)
}

.nav-part{
	font-family: 'Times New Roman', Times, serif;
	font-size: 30px;
}

.nav-part>a{
	color: rgb(9, 54, 9);
	font-size: 50px;
}

.nav-part>a:hover,
.nav-part>a:focus{
	color: red;
	font-size: 70px;
}

.js-one{
	width: 300px;
	height: 300px;
	background-color: red;
	display: flex;
	justify-content: center;
	align-items: center;
}
.js-two{
	width: 200px;
	height: 200px;
	background-color: green;
	display: flex;
	justify-content: center;
	align-items: center;
}
.js-three {
	width: 100px;
	height: 100px;
	background-color: yellow;
}